.content{
    background-color: #000;

    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
}

.content-card{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 5%;
    padding: 6% 2% ;
}

@media(max-width: 2560px){
    .content-card{
        margin-top: 18vh;
    }
}

@media(max-width: 1920px){
    .card{
        margin-top: -7%;
    }
}

@media (max-width: 1024px){
    .content-card{
        margin-top: 18vh;
    }
}


@media (max-width: 768px){
    .content-card{
        margin-top: 25vh;
        display: flex;
        gap: 2rem;
        padding: 2%;
        margin-bottom: 2vh;
    }
}

@media (max-width: 425px){

    .content-card{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30%;

    }
}
