.card{
    border: 2px solid #e4c23d;
    max-width: 100vw;
    max-height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s ease;
    cursor: pointer;
    gap: 10px;

    box-shadow: 0px 4px 10px #e4c33d9f;



    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    color: white;
}

.image-logo-card{
    width: 100%;
    margin-top: 0%;
    border-top-right-radius: 17px;
    transition: .2s ease;
}
.image-logo-card:hover{
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}

.titulo{
    align-self: center;
    margin-bottom: 0.3rem;
}

.p-1{
    margin-bottom: 0.6rem;
}
.p-2{
    margin-bottom: -0.5rem;
}

a{
    color: #bababa;
}
a:hover{
    text-decoration: none;
}


.card:hover{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.box{
    padding: 4%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media(max-width: 2560px){
    .card{
        max-width: 27vw;
        height: 30vh;
    }
}

@media(max-width: 1920px){
    .card{
        max-width: 27vw;
        margin-bottom: 15vh;
        height: 630px;
    }
}

@media (max-width: 1440px){
    .card{
        margin-top: 1%;
        max-width: 34vw;
        height: 580px;
    }

    .box{
        font-size: 0.9rem;
    }
}

@media (max-width: 1366px){

    .card{
        margin-top: -82px;
        margin-bottom: 5rem;
        width: 27vw;
        height: 540px;
    }

    .box{
        font-size: 1rem;
    }

}

@media (max-width: 1024px){
    .card{
        margin-top: -1vh;
        margin-bottom: 9vh;
        width: 34vw;
        height: 450px;
    }

    .box{
        margin-top: -10px;
        font-size: 0.79rem;
    }
}

@media (max-width: 768px){
    .card{
        width: 70vw;
        height: 400px;
        margin-bottom: 10vh;
    }

    .box{
        font-size: 0.6rem;
        display: flex;
        margin-top: -3%;
    }
}

@media (max-width: 425px){
    .card{
        max-width: 80vw;
        margin-bottom: 5vh;
        height: 520px;
    }

    .box{
        font-size: 0.98rem;
    }
}







